* , *:after , *:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
    font-family: Candara;
}
.container{
	width: 85%;
	margin: auto;
}
.clear{
	clear: both;
}
section.header{
	width: 100%;
	height: 100vh;
	background-image: url("../img/woman.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #f8f8f8;
}
section.header .container header{
		padding-top: 20px;
}
section.header .container header.Htwo{
	display: none;
	width: 100%;
	height: 70px;
	background: #111;
	opacity: .75;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	padding-left: 5%;
}
section.header .container header .logo{
	width: 50%;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
section.header .container header nav{
	width: 50%;
	float: left;
}
section.header .container header nav ul li{
	display: inline-block;
	padding-left: 15px;
	padding-top: 5px;
}
section.header .container header nav ul li a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 15px;
}

section.header .container .digital{
	margin-top: 15%;
	
}
section.header .container .digital p span{
	transition: all 0.5s ease-in-out;
}
section.header .container .digital p:first-child{
	font-size: 3.2em;
	line-height: 1.5;
	letter-spacing: 2px;
	font-weight: bold;
	color: lightgray;
}
section.header .container .digital p:last-child:hover span{
	display: inline-block;
	transform: rotate(360deg);
}
/*About*/
section.about{
	width: 100%;
	height: 480px;
	padding: 60px 0 60px 0;
	background-color: #ddd;
}

section.about .creative,
section.about .awesome,
section.about .office{
	width: 30%;
	display: inline-block;
	float: left;
	margin-left:3.3%;
}
section.about .creative{
	margin-left: 0;
}
section.about .creative h2{
	font-size: 2em;
	color: #444;
	margin-bottom: 4%;
	letter-spacing: 1px;
}
section.about .creative p{
	margin-bottom: 6%;
	line-height: 1.5;
}
section.about .creative p:nth-of-type(1) span{
	font-weight: bold;
}
section.about .creative p:nth-of-type(1){
	color: #222;
}
section.about .creative p:nth-of-type(2){
	color: #888;
	line-height: 1.3;
}
section.about .creative p:nth-of-type(3) a{
	text-decoration: none;
	color: #777;
	transition: all 0.5s ease-in-out;
}
section.about .creative p:nth-of-type(3):hover a{
	color: #000;
	text-decoration: underline;
}

section.about .office h3,
section.about .awesome h3{
	margin-top: 4.5%;
	margin-bottom: 4%;
	color: #666;
}
section.about .office p,
section.about .awesome p{
	color: #999;
	font-size: 15px;
}
section.about .office img,
section.about .awesome img{
	width: 100%;
	transition: all 0.8s ease-in-out;
}
section.about .office >div,
section.about .awesome >div{
   overflow: hidden;
   position: relative;
}
section.about .office div div.overlay,
section.about .awesome div div.overlay{
   background: rgba(0,0,0,0.5);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;
}
section.about div.office > div:hover img,
section.about div.awesome > div:hover img{
   transform: scale(1.2);
}
section.about div.office > div:hover div.overlay,
section.about div.awesome > div:hover div.overlay{
    display: block;
}
/*Folio*/
section.folio{
	width: 100%;
	height: 400px;
	background-image: url("../img/production.jpg");
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	text-align: center;
	color: #fff;
}
section.folio div.overlayfolio{
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
}
section.folio div.container .part_folio{
	padding-top: 7%;
	position: absolute;
	left: 50%;
	transform: translateX(-54%);
	line-height: 2;
	font-family: sans-serif;
	letter-spacing: 1px;
}
section.folio div.container .part_folio h4{
   font-weight: normal;
   font-size: 1.7em;
}
section.folio div.container .part_folio p{
	font-weight: 550;
	font-size: 1.15em;
}
section.folio div.container .part_folio p.two{
	display: none;
}
section.folio div.container .part_folio span{
	font-style: italic;
	font-size: 13px;
}
section.folio div.container .part_folio button{
	width: 130px; 
	height: 50px;
	background: none;
	border: 2px solid #fff;
	outline: none;
	cursor: pointer;
	color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 15px;
    transition: all .5s ease-in-out;
}
section.folio div.container .part_folio button:hover{
	background: #111;
}
/*Solution Section*/
.solution{
	width: 100%;
	height: 400px;
	padding: 70px 0 70px 0;
	background: #ddd;
}
.solution div.tailor{
	width: 48%;
	float: left;
	margin-right: 2%;
}
.solution div.acordion{
	width: 50%;
	float: left;
}
.solution div.tailor h2{
	font-size: 2.5em;
    margin-bottom: 3%;
    color: #222;
}
.solution div.tailor p:nth-of-type(1){
	color: #666;
	font-size: 19px;
	margin-bottom: 2%;
	text-align: center;
}
.solution div.tailor p:nth-of-type(2){
   font-size: 15px; 
   color: #999;
   margin-bottom: 2%;
   line-height: 1.5;
   text-align: justify;
}
.solution div.tailor p:nth-of-type(3) a{
	text-decoration: none;
	color: #555;
}
.solution div.acordion h3{
	background: #444;
	color: #ddd;
	padding: 13px;
	letter-spacing: 1px;
	font-size: 1.5em;
	cursor: pointer;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.solution div.acordion p{
	background: #555;
	color: #fff;
	padding: 15px;
	letter-spacing: 0.5px;
	display: none;
}
/*Section Free*/
.free{
	width: 100%;
	height: 350px;
}
.free .right{
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px 35px;
}
.free .left{
	width: 50%;
	height: 104%;
	float: left;
	background: url("../img/pencil.jpg");
	background-size: cover;
}
.free .right h3{
	font-size:2em;
	color: #222;
	letter-spacing: 1px;
    font-weight: bold;
    padding-bottom: 10px;
}
.free .right p:nth-of-type(1),
.free .right p:nth-of-type(2){
	font-size:17px;
	color: #111;
	letter-spacing:0.5px;
    line-height: 1.5;
    text-align: justify;
    padding: 10px 20px;
}
.free .right p:nth-of-type(3){
	margin: 15px 0;
}
.free .right p:nth-of-type(3) a{
   border: 2px solid #555;
   border-radius: 10%;
  text-decoration: none;
  color: #444;
  font-size: 20px;
  padding: 10px;
  margin: 30px 25px;
  transition: all 1s ease-in-out;
}
.free .right p:nth-of-type(3) a:hover{
	background: #111;
	color: #ddd;
}
.free .left .number{
	width: 60%;
	height: 60%;
	margin: auto;
	margin-top: 11%;
}
.free .left .number h1{
	display: inline-block;
	font-size: 3.5em;
	color: #111;
	float: left;
	width: 40%;
	text-align: center;
}
.free .left .number h1:nth-of-type(1),
.free .left .number h1:nth-of-type(3){
	margin-right: 14%;
}
.free .left .number h1:nth-of-type(1),
.free .left .number h1:nth-of-type(2){
	margin-bottom: 15%;
}
/*Footer*/
footer{
	width: 100%;
	height: 350px;
}
footer .AboutUs{
	width: 50%;
	height: 100%;
	float: left;
	background-image: url("../img/people.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
}
footer .AboutUs div{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.5);
   z-index: -1
}
footer .AboutUs .container{
	padding: 10% 15%;
	z-index:1;
}
footer .AboutUs .container h2{
	font-weight: bold;
	font-size: 2.2em;
	color: #fff;
	text-decoration: underline;
}
footer .AboutUs .container h3{
	color: #f2f2f2;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	font-style: italic;
	margin:17px auto;
}
footer .AboutUs .container p:nth-of-type(1){
	color: lightgray;
	font-size: 19px;
	line-height: 1.5;
}
footer .AboutUs .container p:nth-of-type(2){
	margin-top: 20px;
}
footer .AboutUs .container p:nth-of-type(2) a{ 
   border: 2px solid #fff;
   border-radius: 8%;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 8px;
  transition: all 1s ease-in-out;
}
footer .AboutUs .container p:nth-of-type(2) a:hover{
	background: #111;
	color: #ddd;
}
footer .ContactUs{
	width: 50%;
	height: 100%;
	float: left;
	background: #ddd;
}